%div{:style => 'font-size:12px; color:green;font-weight:bold;'}= notice

#full_content
%p
%b Name:
= @person.name
%p
%b Email:
= @person.email
%p
%b Profile:
= @person.bio
%p
%b Date of joining:
= @person.hired_on
